
  <body>
    
    <div class="container  my-5">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <h1>Home Page</h1>
                <span>Links</span>
                <a href="/student">Student</a>
                <a href="/product">Product</a>
            </div>
        </div>
    </div> 

  </body>
