
  <body>
    
    <div class="container  my-5">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <a href="/product" class="btn btn-primary mb-2">Back to all Products</a>
                <div class="card">
                    <div class="card-body">
                        <h2>Add New Product</h2>
                        <hr>
                        <form action="/product/" method="post" enctype="multipart/form-data">
                            <div class="my-3">
                                <label for="">Title</label>
                                <input name="title" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Category</label>
                                <input name="category" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">pro_id</label>
                                <input name="pro_id" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Descrip</label>
                                <input name="descrip" type="text-aria" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Price</label>
                                <input name="price" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Photo</label>
                                <input name="photo" type="file" >
                            </div>
                            <div class="my-3">
                                <input  type="submit" value="Submit" class="btn btn-primary" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 


  </body>

