
  <body>
    
    <div class="container  my-5">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <a href="/product/create" class="btn btn-primary mb-2">Add New Student</a>
                <div class="card">
                    <div class="card-body">
                        <h2>All Students</h2>
                        <hr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Cell</th>
                                    <th>Photo</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ejsseach -->
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 

</body>


<!-- /student/edit/element._id %> -->
